node_modules
npm-debug.log
.git
.gitignore
README.md
.env
.nyc_output
.cache
dist
.DS_Store
coverage/
.composer
vendor/
storage/app/
storage/framework/cache/
storage/framework/sessions/
storage/framework/views/
storage/logs/
